/*===============================MAIN CONTENT=================================*/
.jumbotron {
  text-align: center;
  background-color: #3ACCB3;
  color: white;
}

body {
  background-color: #B9FFF3;
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 80%;
  background-color: white;
}

#city, #mountain, #beach, #combo {
  display: none;
}


/*===============================FORM=================================*/
button {
  background-color: lightgray;
  margin-left: 300px;
}

button.btn:hover {
  color: white;
  background-color: #FF7466;
}


/*===============================USERANSWER OUTPUT=================================*/
.col-md-4 {
  text-align: justify;
}

h3, h2 {
  text-align: center;
}

img {
  display: block;
  /*border: 3px solid yellow;*/
  max-width: 95%;
  max-height: auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}
