/*===============================MAIN CONTENT=================================*/
.jumbotron {
  text-align: center;
  background-color: #3ACCB3;
  color: white;
  padding-top: 20px;
}

body {
  background-color: #B9FFF3;
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 80%;
  background-color: white;
  margin-top: 1px;
}

#city, #mountain, #beach, #combo {
  display: none;
}


/*===============================FORM=================================*/
.container p {
  text-align: center;
  font-size: 1.125em;
}

#highlight {
  color: #FF7466;
}

button {
  background-color: lightgray;
  margin-left: 300px;
  padding-top: 1px;
}

button.btn:hover {
  color: white;
  background-color: #FF7466;
}


/*===================USERANSWER OUTPUT=================================*/
.col-md-4 p {
  text-align: justify;
}

h3, h2 {
  text-align: center;
}

h3 {
    color: #FF7466;
}

img {
  display: block;
  max-width: 95%;
  max-height: auto;
  margin: 15px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}

button#redoQuiz {
  background-color: lightgray;
  padding-left: 125px;
  padding-right: 125px;
}


button#redoQuiz:hover {
  color: white;
  background-color: #FF7466;
}
