#city, #mountain, #beach, #combo {
  display: none;
}
.jumbotron {
  text-align: center;
  background-color: #3ACCB3;
  color: white;
}


.container {
  width: 80%;

}

body {
  background-color: #9BFFEE;
}

.col-md-4 {
  text-align: justify;
  background-color: white;
}

h4 {
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}

img {
  display: block;
  border: 3px solid yellow;
  max-width: 95%;
  max-height: auto;
}

button {
  background-color: #3B6658;
  color: white;
}

button.btn:hover {
  color: white;
  font-weight: bold;
}
